<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Docker lives in K8s</title>
    <style media="screen">
      body {
        background: rgb(0, 0, 0);
        overflow: hidden;
        font-family: sans-serif;
      }
      .info-box {
        border: 2px rgb(123, 0, 134) solid;
        width: 480px;
        margin: 10% auto;
        color: white;
        background: rgba(255,255,255,0.1);
        text-align: center;
        padding: 60px 0px;
      }
    </style>
  </head>
  <body>
    <div class="info-box">
      <img src="/app/images/four.jpeg" alt="Picture" width="450" height="300">
      <h3>Bất động sản Nhựt Thường </h3>
      <h3>Bán hơi ế </h3>
      <a href="https://www.facebook.com/nhutthuongiristower">Facebook nè</a>
    </div>
  </body>
</html>
